Smart feedback analyzer.json
{
  "name": "Project-1",
  "nodes": [
    {
      "parameters": {
        "formTitle": "User Feedback form",
        "formDescription": "This is user feedback form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Enter your full name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "Email should end with @mail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Contact No.",
              "fieldType": "number",
              "placeholder": "enter your phone no."
            },
            {
              "fieldLabel": "Feedback",
              "placeholder": "Type your feedback here",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1024,
        192
      ],
      "id": "34442a61-1a83-46b4-86f7-b42adedb97ed",
      "name": "On form submission",
      "webhookId": "9418d025-e29f-44d1-9850-4fbe4e987322"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your role is to determine if the feedback filled by customer is complaint or compliment or a feature request addition.\nThe feedback is : {{ $json.Feedback }}\n\nYour response should be only one from the below:\n1)Complain\n2)Compliment\n3)Feature addition request",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -800,
        320
      ],
      "id": "db137ac5-12a5-4dd2-9d83-194cb2ffda12",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        544
      ],
      "id": "b5cfb60a-b206-499c-8f82-4c10aa23c0a8",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -448,
        192
      ],
      "id": "c126a930-5b9e-4661-8b57-470b102083ca",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "=Complain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eee1d664-0077-4dc1-bfc3-e0c39193c292"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fc8d851e-5011-42af-b0b6-2f0eabe536ba",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Compliment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f470991c-b722-4d81-b01f-7e849925953d",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Feature addition request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        176
      ],
      "id": "58556c3b-312e-4cee-a097-8b4d3745c707",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app71QvSaf1u3mmAy",
          "mode": "list",
          "cachedResultName": "Feedback Form",
          "cachedResultUrl": "https://airtable.com/app71QvSaf1u3mmAy"
        },
        "table": {
          "__rl": true,
          "value": "tbluWyO5BqwfLr7NF",
          "mode": "list",
          "cachedResultName": "Complain",
          "cachedResultUrl": "https://airtable.com/app71QvSaf1u3mmAy/tbluWyO5BqwfLr7NF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact No.": "={{ $json['Contact No.'] }}",
            "Full Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "aff6255b-2a90-4b84-945f-d7f3836b9d19",
      "name": "Create a record"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app71QvSaf1u3mmAy",
          "mode": "list",
          "cachedResultName": "Feedback Form",
          "cachedResultUrl": "https://airtable.com/app71QvSaf1u3mmAy"
        },
        "table": {
          "__rl": true,
          "value": "tblkVnPNIq5tbNcCa",
          "mode": "list",
          "cachedResultName": "Compliment",
          "cachedResultUrl": "https://airtable.com/app71QvSaf1u3mmAy/tblkVnPNIq5tbNcCa"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact No.": "={{ $json['Contact No.'] }}",
            "Full Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        192
      ],
      "id": "04778ee6-960b-4436-80e5-ee926bc937bc",
      "name": "Create a record1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app71QvSaf1u3mmAy",
          "mode": "list",
          "cachedResultName": "Feedback Form",
          "cachedResultUrl": "https://airtable.com/app71QvSaf1u3mmAy"
        },
        "table": {
          "__rl": true,
          "value": "tblX83lGkeN3Ou6BH",
          "mode": "list",
          "cachedResultName": "Feature Addition Request",
          "cachedResultUrl": "https://airtable.com/app71QvSaf1u3mmAy/tblX83lGkeN3Ou6BH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact No.": "={{ $json['Contact No.'] }}",
            "Full Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        384
      ],
      "id": "319be03e-d28c-4250-950b-22ad3b21cfc4",
      "name": "Create a record2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09SGVBPL8K",
          "mode": "list",
          "cachedResultName": "all-new-workspace"
        },
        "text": "=NEW COMPLAINT-->\nNAME: {{ $json.fields['Full Name'] }}\n\nEMAIL-ID: {{ $json.fields.Email }}\n\nFEEDBACK: {{ $json.fields.Feedback }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "a2a51918-b7f7-4272-9469-a2da1ebdab15",
      "name": "Send a message",
      "webhookId": "00914e82-2b57-4db4-9730-7a124eac967f"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09SGVBPL8K",
          "mode": "list",
          "cachedResultName": "all-new-workspace"
        },
        "text": "=NEW FEATURE ADDON REQUEST-->\nNAME: {{ $json.fields['Full Name'] }}\n\nEMAIL-ID: {{ $json.fields.Email }}\n\nFEEDBACK: {{ $json.fields.Feedback }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        224,
        384
      ],
      "id": "308e5168-fee1-4d7f-877f-0e797926ad55",
      "name": "Send a message1",
      "webhookId": "00914e82-2b57-4db4-9730-7a124eac967f"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Switch').item.json['Email Address'] }}",
        "subject": "We have taken your complaint in your notice. ",
        "message": "=Hey, {{ $('Switch').item.json['Full Name'] }}\nWe have already Taken your complain in your notice and our team is working on to it and we shall get back to you on what the exact update is thankyou so much for brining this into our notice. \nWe will update you asap.\nThankyou\nNote: Please don't reply on this message.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        0
      ],
      "id": "b5354ab1-8913-4876-88e4-85b2be97303a",
      "name": "Send a message2",
      "webhookId": "d0f4a7c2-a7ba-402b-88ca-ec1d37d40d8a"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e812f00d-c32b-4ced-9097-95daa6e04f0f",
  "meta": {
    "instanceId": "03622d6a46d6a95cbc9ce48e7ede6c47919d17304bb6315614dbeede774e0e65"
  },
  "id": "1chB1rQPizNNxONK",
  "tags": []
}